<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar usuario</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
    <style>
        body{
            background: #3494E6;
            background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
            background: linear-gradient(to right, #EC6EAD, #3494E6);
        }
    </style>
</head>
<body>
<div>
    <nav class="navbar bg-body-tertiary" id="barra_navegacion">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">USAC-CINEMA</span>
            <div id="botones_navegacion">
                <a href="{{url_for('menu_admin')}}" class="btn btn-outline-primary">Menú administrador</a>
                <a href="{{url_for('logout')}}" class="btn btn-outline-light">Cerrar sesión</a>
            </div>
        </div>
    </nav>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <h1 class="text-center">EDITAR USUARIO</h1>
                <form method="POST">
                    <div class="form-group">
                        <label for="nombre"><b>Nombre</b></label>
                        <input type="text" name="nombre" value="{{usuario.nombre}}" placeholder="Nombre"
                               class="form-control" required>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="apellido"><b>Apellido</b></label>
                        <input type="text" name="apellido" value="{{usuario.apellido}}" placeholder="Apellido"
                               class="form-control" required>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="telefono"><b>Teléfono</b></label>
                        <input type="number" name="telefono" value="{{usuario.telefono}}" placeholder="Teléfono"
                               class="form-control" required>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="correo"><b>Correo</b></label>
                        <input type="email" name="correo" value="{{usuario.correo}}" placeholder="Correo"
                               class="form-control" required>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="contrasena"><b>Contraseña</b></label>
                        <input type="password" value="{{usuario.contrasena}}" name="contrasena" placeholder="Contaseña"
                               class="form-control" required>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="rol"><b>Rol</b></label>
                        <select name="rol" class="form-control">
                            <option disabled="">Selecciona una opción</option>
                            {% if usuario.rol == 'cliente' %}
                            <option value="cliente" selected>Cliente</option>
                            <option value="administrador">Administrador</option>
                            {% else %}
                            <option value="cliente">Cliente</option>
                            <option value="administrador" selected>Administrador</option>
                            {% endif %}
                        </select>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" id="boton_formulario">EDITAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br/>
</body>
</html>