<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar sala</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
    <style>
        body{
            background: #5614B0;
            background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);
            background: linear-gradient(to right, #DBD65C, #5614B0);
        }
    </style>
</head>
<body>
<div>
    <nav class="navbar bg-body-tertiary" id="barra_navegacion">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">USAC-CINEMA</span>
            <div id="botones_navegacion">
                <a href="{{url_for('menu_admin')}}" class="btn btn-outline-primary">Menú administrador</a>
                <a href="{{url_for('logout')}}" class="btn btn-outline-light">Cerrar sesión</a>
            </div>
        </div>
    </nav>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <h1 class="text-center">EDITAR SALA</h1>
                <form method="POST">
                    <div class="form-group">
                        <label for="numero"><b>Número</b></label>
                        <input type="text" name="numero" value="{{sala.numero}}" placeholder="Número"
                               class="form-control" required>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="cine"><b>Cine</b></label>
                        <input type="text" name="cine" value="{{sala.cine}}" placeholder="Cine"
                               class="form-control" required>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="asientos"><b>Asientos</b></label>
                        <input type="number" name="asientos" value="{{sala.cantidad_asientos}}" placeholder="Asientos"
                               class="form-control" required>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" id="boton_formulario">EDITAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br/>
</body>
</html>